.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divider {
  background-color: white;
  margin: 0px;
}

.error {
  color: red;
}

.how-to-use-steps {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  margin: auto;
  background-color: #343A40;
}

.card-how-to {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: whitesmoke;
  border: 3px solid #D1ECF1;
  border-radius: 12px;
  width: 80%;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: auto;
  margin-top: 10px;
  height: 80%;
}

.step-title {
  color: #0D5460;
}

.input-step {
  width: 80vw;
  margin: auto;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.next-button {
  border: 1px solid rgb(0, 121, 0);
  background-color: rgb(0, 121, 0);
  color: white;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 5px;
}

.next-button:hover {
  background-color: white;
  color: rgb(0, 121, 0);
}

.back-button {
  border: 1px solid rgb(121, 0, 0);
  color: rgb(121, 0, 0);
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 5px;
}

.back-button:hover {
  color: white;
  background-color: rgb(121, 0, 0);
}

.input-button-row {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 5px;
}

.sentences-list {
  list-style-type: none;
  text-align: left;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 24px;
}

.sentence-list-wrapper {
  border-top: 1px solid black;
  width: 80vw;
  margin: auto;
}

.sentence-word-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.word-level {
  width: auto;
  margin: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.meta-wrapper {
  width: 80vw;
  margin: auto;
  margin-bottom: 10px;
}

.result-wrapper {
  border: 1px solid black;
  width: 80vw;
  margin: auto;
}


