.submit_button {
      background-color: grey;
      border: none;
      color: #4CAF50;
      padding: 3px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 25px;
      transition-duration: 0.4s;
}

.submit_button:hover {
    background-color: #4CAF50; /* Green */
    font-size: 14px;
    color: white;
    padding: 4px 17px;
}

.text_input {
    background-color: white;
    padding: 12px;
    width: 750px;
    font-size: 16px;
    border-radius: 10px;
}

.single-sentence-wrapper {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
}

.single-sentence {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    overflow: auto;
    margin: auto;
    margin-bottom: 10px;
}

.single-word {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 12px;
    margin-left: 10%;
}

.result-wrapp {
    background-color: rgb(240, 240, 240);
    margin: auto;
    width: 90%;
    border: 1px solid black;
    margin-bottom: 10px;
}